
//BASE COLOR PALLETE
$black 						: #000000; 
$white						: #ffffff;
$font-color					: #4f4e4c;
$grey 						: #cccccc;
$color_eminence_approx		: #632473;
$color_tree_poppy_approx	: #f39c12;
$color_pink_swan_approx		: #bababa;
$color_mantis_approx		: #6cb854;
$color_wisteria_approx		: #9b59b6;
$color_mountain_mist_approx	: #959595;
$color_mai_tai_approx		: #b06f09;
$gallery					: #efefef;
$color_star_dust_approx		: #9b9b9b;
$color_stack_approx			: #8d8d8d;
$color_ironside_gray_approx	: #676767;
$color_tuatara_approx		: #333336;
$silver_chalice				: #A9A9A9;
$buttercup					: #F39C11;
$wisteria					: #9B59B6;
$dove_grey					: #696969;

$font-grey : $dove_grey;
$border-color : $silver_chalice;

//SCREEN SIZE
//Responsive
$screen-phone 	: 330px !default;

//SIZE
$pixel 	: 	10px !default;
$pixel_1: 	9px  !default;
$pixel_2: 	8px  !default;
$pixel_3: 	7px  !default;
$pixel_4: 	6px  !default;
$pixel_5: 	5px  !default;
$pixel_6: 	4px  !default;
$pixel_7: 	3px  !default;
$pixel_8: 	2px  !default;
$pixel_9: 	1px  !default;

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
//$screen-xs:                  480px !default;
//$screen-xs-min:              $screen-xs !default;
//$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
//$screen-sm:                  768px !default;
//$screen-sm-min:              $screen-sm !default;
//$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
//$screen-md:                  992px !default;
//$screen-md-min:              $screen-md !default;
//$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
//$screen-lg:                  1200px !default;
//$screen-lg-min:              $screen-lg !default;
//$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
//$screen-xs-max:              ($screen-sm-min - 1) !default;
//$screen-sm-max:              ($screen-md-min - 1) !default;
//$screen-md-max:              ($screen-lg-min - 1) !default;
