/*==========================================================================
  COMFIRMATION
========================================================================== */

.aside-img{
	@include make-sm-column(4);
	@include make-md-column(3);
}

.aside-img__thumb{
	@media (max-width: $screen-desktop - 1){
		text-align:center;
		margin-bottom: $pixel * 2 + 5;
	}
}
.poduct-dtl{
	@include make-sm-column(8);
	@include make-md-column(9);
	border-left: 1px solid $border-color;
	@include min-height(400px);
	@media (min-width: $screen-desktop){
		padding-left: $pixel + 15;
	}

	.table{
		td{
			border:none;
			padding: $pixel * 2 8px;

			strong{
				font-weight: normal;
				color:$black;
			}
		}
	}
}

.form-warranty{
	label{
		margin-bottom: 15px;
	}
}