/*==========================================================================
  FOOTER
========================================================================== */

.foot-grey {
	background: $gallery;
	padding: 45px 0;
	overflow: hidden;
	color: $color_star_dust_approx;
}
.wdg-foot {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
@media(min-width: 768px) {
	.wdg-foot {
		float: left;
		width: 50%;
	}
}
@media(min-width: 992px) {
	.wdg-foot {
		float: left;
		width: 33.33333%;
	}
}
@media(max-width: 767px) {
	.foot-bottom-menu {
		float: none;
		margin-bottom: 25px;
		text-align: center;
		ul li {
			margin: 0;
			margin: 15px;
		}
	}
}
.select-btm {
	.dropdown {
		float: right;
		.dd-button {
			background: transparent;
			color: $color_tuatara_approx;
			border: 1px solid $color_pink_swan_approx;
			padding: 6px 16px;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 6px;
			width: 200px;
			text-align: left;
			.caret {
				float: right;
				margin-top: 9px;
			}
		}
	}
	.dropdown-menu {
		width: 100%;
	}
}
.foot-btm-top {
	padding: 18px 0;
	margin-bottom: 30px;
	color: $color_mountain_mist_approx;
}
.foot-bottom-menu {
	float: left;
	ul li {
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		*zoom: 1;
		*display: inline;
		margin-right: 30px;
		a {
			color: $color_mountain_mist_approx;
			transition: all 0.2s;
			font-size: 13px;
			&:hover {
				color: $color_tree_poppy_approx;
				text-decoration: none;
			}
		}
	}
}
.copyright {
	text-align: center;
	font-size: 13px;
	margin-bottom: 30px;
	padding-top: 22px;
	color: $color_mountain_mist_approx;
}
.foot-grey-news ul li {
	display: block;
	margin-bottom: 12px;
	font-size: 15px;
	a {
		color: $color_stack_approx;
		@include prefixed(transition, all 0.2s linear);
		&:hover {
			color: $color_ironside_gray_approx;
		}
	}
	small {
		font-size: 0.8em;
	}
}
.foot-grey-share ul li {
	display: block;
	margin-bottom: 6px;
	a {
		color: $color_star_dust_approx;
	}
	.share-foot {
		padding-left: 56px;
		display: table-cell;
		height: 40px;
		vertical-align: middle;
		@include prefixed(transition, all 0.3s linear);
		&:hover {
			opacity: 0.7;
			filter: alpha(opacity=70);
		}
		&.tw {
			background: image-url("tw@2x.png") left top no-repeat;
			@include background-size(39px, 39px);
		}
		&.fb {
			background: image-url("fb@2x.png") left top no-repeat;
			@include background-size(39px, 39px);
		}
	}
}