body{
	background:$white;
	font:16px/1.3 "latoregular", Helvetica, Arial, sans-serif;
	color:$font-color;
	font-weight:normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* ======== LAYOUT ======== */
#main{
	padding: $pixel * 5 0;
}


#regis-nav{
	width: 100%;
	text-align: center;
	margin-bottom: $pixel * 4;
	ul{
		border:1px solid $border-color;
		@include inline-block();
		position: relative;
		overflow: hidden;

		li{
			float:left;
			a{
				display: block;
				padding:$pixel + 5 $pixel * 4 + 5;
				@include prefixed(transition, all 0.2s ease-in);
				font-size: 14px;
				color: $font-grey;

				&:hover{
					text-decoration:none;
					color:white;
					background: $buttercup;
				}
			}

			&.active{
				a{
					text-decoration:none;
					color:white;
					background: $buttercup;	
				}
			}
		}

		@media(max-width: $screen-desktop){
			li{
				a{
					padding:$pixel + 5 $pixel * 2;
					font-size: 12px;	
				}
			}
		}

		@media(max-width: $screen-desktop){
			width:100%;
			display:block;
			li{
				float: none;
				display: block;

				a{
					display: block;
					border-bottom:1px solid $border-color;
				}
			}
		}
	}
}


/* ======== FORM ======== */
label{
	font-weight:normal;
	font-family: 'latoregular'; 
	color:$black;
}

.form-control{
	@include border-radius(0);
	height: 38px
}

textarea.form-control{
	height: auto;
}

/* ======== BUTTONS AND LINKS ======== */
.btn-magenta{
	border:none;
	background: none;
	@include border-radius(5px);
	color: white;
	background: $wisteria;
 	font-size: 18px;
 	text-align: center;
 	padding:8px 25px;

 	@include prefixed(transition, all .3s linear);

 	&:hover{
 		background:$buttercup;
 		text-decoration: none;
 	}
}

/* ======== TYPO ======== */
.foot-title {
	margin: 0;
	font:  23px 'latobold', sans-serif;
	margin-bottom: 20px;
	color: $color_stack_approx;
}

.title_reg_lg{
	margin: 0;
	font:  28px 'latobold', sans-serif;
	margin-bottom:$pixel * 5;
	color:black;
	text-transform: uppercase;
	text-align: center;
}

.title-sm{
	@extend .foot-title;
	font-size:20px;
	margin-bottom: $pixel * 3;
	color:black;

	@media (max-width: $screen-desktop - 1){
		text-align:center;
		border-bottom:1px solid $border-color;
		padding-bottom: $pixel + 5;
	}
}
