/*==========================================================================
 HEADER
========================================================================== */

#header {
	padding: 15px 0;
	.head-right {
		float: right;
		padding: 4px 0;
	}
}
@media(max-width: 767px) {
	#logo {
		float: none;
		margin-bottom: 30px;
		margin-top: 20px;
		text-align: center;
	}
}
#logo {
	float: left;
}
.head-right {
	float: none;
}
.head-topmenu {
	float: right;
	padding: 3px 0;
	ul li {
		display: inline-block;
		vertical-align: middle;
		*vertical-align: auto;
		*zoom: 1;
		*display: inline;
		margin-right: 30px;
		a {
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			*zoom: 1;
			*display: inline;
			color: $color_eminence_approx;
			trainsition: all 0.3s ease-in;
			font-size: 0.9em;
			.fa {
				margin-right: 5px;
				color: $color_tree_poppy_approx;
			}
			&:hover {
				color: $color_tree_poppy_approx;
				text-decoration: none;
				.fa {
					color: $color_eminence_approx;
				}
			}
		}
	}
}
#search {
	float: right;
}
.src-input {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	width: auto;
	background: transparent;
	vertical-align: top;
	border: none;
	border: 1px solid $color_pink_swan_approx;
	padding: 7px 10px;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 0 $color_mantis_approx;
	font-size: 13px;
	margin-right: -4px;
	&:focus {
		border: none;
		box-shadow: 0;
		box-shadow: 0 0 10px $color_tree_poppy_approx;
		border: 1px solid $color_tree_poppy_approx;
	}
}
.src-btn {
	background: none;
	border: none;
	background: $color_tree_poppy_approx url("../img/src_icon.png") 50% 50% no-repeat;
	transition: all 0.3s linear;
	width: 53px;
	height: 33px;
	&:hover {
		background-position: 50% 80%;
		background-color: $color_wisteria_approx;
	}
}


