/*==========================================================================
  HOME
========================================================================== */
.regis-choose{
	@include make-row();

	.regis-choose__lepi, .regis-choose__hdd{
		@include make-sm-column(6);
		text-align: center;
		.fa{
			display: block;
			font-size: 10em;
			line-height: 0.9em;
			margin-bottom: $pixel * 2;
			@include prefixed(transition, all 0.3s linear);

		}

		span{
			display: block;
			font-size: 23px;
			font-weight: normal;
		}

		a{
			@include prefixed(transition, 0.2s ease-in);
			color: $black;

			&:hover{
				color:$grey ;
				text-decoration: none;

				span{
					color: black;
				}
			}

			&:active, &:focus{
				text-decoration: none;
			}
		}
	}
}
