/*==========================================================================
  NAVIGATION
========================================================================== */
#nav-wrapper {
	background: $black;
	min-height: 50px;
	position: relative;
	z-index: 12;
	.dropdown-custom {
		background-color: $white;
		position: absolute;
		left: 0;
		top: 50px;
		width: 100%;
		padding: 18px 0;
		display: none;
		figure {
			display: inline-block;
			*vertical-align: auto;
			*zoom: 1;
			*display: inline;
			vertical-align: middle;
			width: 44%;
			text-align: center;
		}
		aside {
			display: inline-block;
			*vertical-align: auto;
			*zoom: 1;
			*display: inline;
			vertical-align: middle;
			width: 49%;
			h4 {
				font-family: Oxygen, latoregular;
				font-weight: bold;
				font-size: 16px;
				color: $black;
				margin: 0 0 4px;
				a {
					text-decoration: none;
					color: $black;
				}
			}
			p {
				font-family: Oxygen, latoregular;
				font-weight: normal;
				font-size: 12px;
				color: $black;
				margin: 0;
			}
		}
	}
}
@media(max-width: 991px) {
	#navigation {
		float: none;
		text-align: center;
		width: 100%;
	}
}
#navigation {
	float: left;
	width: 90%;
	ul {
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;
		z-index: 14;
		a {
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			*zoom: 1;
			*display: inline;
			text-decoration: none;
			line-height: 1.4em;
			font-weight: 400;
			color: $white;
			transition: all 0.3s ease-out;
			font: 600 14px Oxygen, sans-serif;
			padding: 17px 25px;
			&:hover {
				color: $color_tree_poppy_approx;
			}
		}
		li {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			*vertical-align: auto;
			*zoom: 1;
			*display: inline;
			margin: 0;
			z-index: 14;
			&#laptop-products {
				background: none;
				&.show-dropdown {
					background: url("../img/nav-arrow.png") no-repeat bottom center;
				}
			}
			&:hover > ul {
				display: block;
			}
			&.current a {
				color: $color_tree_poppy_approx;
			}
			&:last-child a {
				padding-right: 0;
			}
		}
		ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: $black;
			padding: 0;
			z-index: 16;
			li {
				float: none;
				width: 200px;
				padding: 0;
			}
			a {
				padding: 8px 15px;
				display: block;
				border-bottom: none !important;
				text-align: left;
				font-weight: normal;
				font-weight: 400;
				color: $white !important;
				&:hover {
					border-bottom: none !important;
					background: $color_mai_tai_approx;
					color: $white;
				}
			}
			ul {
				top: 0;
				left: 100%;
				a:after {
					display: none;
				}
			}
		}
	}
	#pull {
		display: none;
	}
}
@media(min-width: 1345px) {
	#navigation ul a {
		font-size: 14px;
	}
}

.slicknav_menu {
	display: none;
}
@media screen and(max-width: 767px) {
	.js {
		#menu {
			display: none;
		}
		.slicknav_menu {
			display: block;
		}
	}
}

@import "../vendor/slicknav";