/*==========================================================================
  REGISTRATION
========================================================================== */

#nav-step{
	position: relative;
	z-index: 1;
	margin-bottom:$pixel * 4;
	display: none;

	@media (min-width: $screen-desktop){
		display:block;
	}
	&:before{
		content:'';
		position: absolute;
		z-index: -1;
		top:45%;
		left:0;
		width: 100%;
		height: 1px;
		background: $border-color;
	}

	ul {
		text-align: center;
		li{
			@include inline-block();
			background:white;
			padding: 0 $pixel + 6;
			color: arken($grey,8%);
			argin: 0 $pixel - 5;

			.circle{
				@include inline-block();
				color:white;
				background: darken($grey,8%);
				@include square(55px);
				@include border-radius(50%); 
				margin-right: $pixel - 2;
				line-height: 55px;
			}

			&.active{
				color: darken($grey,8%);
				.circle{
					background: $buttercup;
				}
			}

			@media (min-width: $screen-lg-desktop){
				margin: 0 $pixel * 3;
			}
		}
	}
}


.regis-form{
	max-width: 775px;
	margin: 0 auto;

	.form-horizontal .control-label{
		text-align: left;
	}
}

.regis-form__title{
	margin: 0;
	font: 25px 'latobold', sans-serif;
	margin-bottom:$pixel * 3 + 5;
	color:black;
	text-align: center;
}