/*==========================================================================
  WARRANTY
========================================================================== */
.warranty__title{
	font:  28px 'latobold', sans-serif;
	margin-bottom:$pixel * 2 + 4;
	color:black;
	text-transform: uppercase;
	text-align: center;
}
.warranty__table{
	&.table{
		border-right:1px solid $border-color;
		border-left:1px solid  $border-color;
		border-bottom:1px solid  $border-color;

		th{
			font-weight: 400;
			text-transform: uppercase;
			color: darken($border-color, 15%);
			text-align: center;
			font-size: 14px;

		}
		th, td{
			border-color:$border-color;
		}

		> thead > tr > td, 
		> tbody > tr > td, 
		> tfoot > tr > td{
			padding: $pixel * 2  $pixel - 2;
		}

	}

	%extend_bar{
		width: 100%;
		margin-bottom: $pixel;
		li{
			@include inline-block();
			padding: 0 $pixel - 3;
			width: 32%;
			text-align: center;
		}

		span{
			@include inline-block();
			background: $buttercup;
			display: block;
			height: $pixel + 9;
			text-align: left;
		}

		small{
			display: block;
			margin-top:$pixel - 5;
		}
	}
	.warranty__table__bar{
		@extend %extend_bar;
		
	}

	.warranty__table__barpurp{
		@extend %extend_bar;

		span{
			background: $wisteria;
		} 
	}
}


.warranty-desc{
	ul{
		float: left;
		margin-right: $pixel * 2;
		@include min-width(210px); 
		font-size: 0.9em;
		li{
			display: block;
			vertical-align: middle;
			margin-bottom: $pixel;
			span{
				@include inline-block();
				@include square(12px);
				background: $buttercup;
				color: $font-grey;
				margin-right: $pixel;
				&.labour{
					background: $wisteria;
				}
			}
		}
	}	

	.warranty-desc__extend{
		float: left;
		font-size: 0.9em;
		font-family: 'latobold'; 
	}
}